.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1.35rem 0.9rem 1.1rem;
}
.nav-box,
.close-menu,
.nav-sub-link-box,
.hero-img-desktop {
    display: none;
}
.nav-box {
    position: fixed;
    top: 0;
    right: 0;
    flex-direction: column;
    width: 64%;
    height: 100%;
    background-color: rgba(255, 255, 255, 1);
    z-index: 1;
}
.nav-box::after {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 36%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: -1;
}
.close-menu {
    padding: 1.15rem 1.05rem 1.1rem 0;
    align-self: flex-end;
}
.nav-box-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    list-style-type: none;
    padding: 0 1.3rem;
    margin: 0.65rem 0;
}
.nav-box-list li {
    margin-bottom: 1.4rem;
}
.nav-dropdown-box {
    display: flex;
}
.nav-dropdown-box span {
    margin-right: 0.85rem;
}
.nav-up-arrow {
    display: none;
}
.nav-box-list li {
    font-size: 0.9rem;
    opacity: 0.65;
}
.nav-cta-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 0 1.1rem 0 1.35rem;
}
.nav-cta {
    display: block;
    width: 100%;
    font-size: 0.8rem;
    letter-spacing: -0.2px;
    opacity: 0.65;
}
.cta-login {
    margin-bottom: 0.9rem;
    padding: 0 0.4rem 0 0;
}
.cta-register {
    padding: 0.7rem 1.25rem;
    border: 2px solid rgb(69, 69, 69);
    border-radius: 0.8rem;
}